/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.success-snackBar{
    background-color: rgb(27, 201, 27)!important;
    color: #fff !important;;
}

.error-snackBar{
    background-color: rgb(223, 8, 8) !important;
    color:#fff !important;
}